.playwrite-in-regular {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 500px;
  font-size: 2rem;
}

.noto-sans-hatran-regular {
  font-family: "Noto Sans Hatran", serif;
  font-weight: 400;
  font-style: normal;
}

#border-line {
  border: 1px solid black;
  width: 600px;
  margin: 550px auto;
}
